<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <title>Stupid Coaching</title>
  </head>
  <body>
    <div class="container">
      <h1>Stupid coaching</h1>
      <div class="form-group">
        <form action="/answer" method="get">
          <label for="question">Ask your coach anything:</label>
          <input type="text" name="question" class="form-control">
          <input type="submit" class="btn btn-primary">
        </form>
      </div>
    </div>
  </body>
</html>


